<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mixblog.dao.ConsumptionMapper" >
	<insert id="cadd1" parameterType="com.mixblog.pojo.User">
		insert into consumption (cuserid,cmoney,cpurpose) values(#{uid},30,'开通1个月套餐')
	</insert>
	<insert id="cadd2" parameterType="com.mixblog.pojo.User">
		insert into consumption (cuserid,cmoney,cpurpose) values(#{uid},50,'开通1年套餐')
	</insert>
	<insert id="cadd3" parameterType="com.mixblog.pojo.User">
		insert into consumption (cuserid,cmoney,cpurpose) values(#{uid},66,'开通永久套餐')
	</insert>
	
	<select id="clistone" resultType="com.mixblog.pojo.Consumption">
			select * from consumption where cuserid = #{cuserid} order by ccreatetime desc
	</select>


</mapper>